---
layout: base.njk
title: journal
description: Read the calibexs journal for technical project logs, VPS and infrastructure updates, development experiments, website changes, automation, and ongoing builds.
---

<h1>calibexs journal</h1>
<p>technical notes, project updates, infrastructure logs, experiments, and development posts.</p>

{% for post in collections.post | reverse %}

  <a
    href="/journal/posts/{{ post.fileSlug }}/"
    style="
      text-decoration:none;
      color:inherit;
      display:block;
    "
  >

    <div class="card">

      <div class="date">
        {{ post.date | readableDate }}
      </div>

      <h2>
        {{ post.data.title }}
      </h2>

      <p>
        {{ post.data.description }}
      </p>

    </div>

  </a>

{% endfor %}
