---
layout: base.njk
title: journal
---

<h1>journal</h1>
<p>notes, updates, logs, and random posts.</p>

{% for post in collections.post | reverse %}

  <a
    href="/journal/posts/{{ post.fileSlug }}/"
    style="
      text-decoration:none;
      color:inherit;
      display:block;
    "
  >

    <div class="card">

      <div class="date">
        {{ post.date | readableDate }}
      </div>

      <h2>
        {{ post.data.title }}
      </h2>

      <p>
        {{ post.data.description }}
      </p>

    </div>

  </a>

{% endfor %}
